
:root {
    --clr1: rgb(209, 226, 244);
    --clr2: rgb(0, 24, 68);

    --clr1bg:  rgb(214, 234, 250);
    --clr1bg-light: rgb(13, 113, 141);
    --clr2bg: rgb(244, 207, 120);
    --clr2bg-light: rgb(83, 103, 155);

    --gray1: rgb(153, 153, 153);
    --gray2: rgb(99, 97, 97);
    --gray3: rgb(44, 44, 44);
}