 button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 1px solid var(--clr2);
    padding: 0.2em 0.8em;
    border-radius: 6px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

button:not(.show-txt-btn):hover {
    background-color: var(--clr2);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
} 
